.option {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option > .price {
  font-size: 14px;
  padding-left: 12px;
}

.text-option {
  background: var(--theme-surface);
  border: 1px solid var(--theme-surface-border);
  padding: 12px 20px;
  margin-bottom: 12px;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.25s ease-in-out;
}
.text-option > span:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-option.active {
  border-color: var(--theme-primary);
  box-shadow: 0 0 0 2px var(--theme-primary);
  font-weight: 500;
}

.image-option {
  width: 75px;
  height: 75px;
  padding: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  background: var(--theme-surface);
  border: 2px solid var(--theme-surface-border);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-option.active {
  border: 2px solid var(--theme-primary);
}
.image-option > img {
  max-width: 100%;
  max-height: 100%;
}

.color-option {
  width: 48px;
  height: 48px;
  padding: 4px;
  margin-right: 0px;
  margin-bottom: 8px;
  border-radius: 50%;
  background: transparent;
  box-sizing: border-box;
}
.color-option.active {
  border: 2px solid var(--theme-primary);
}
.color-option > div {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--theme-border);
  box-sizing: border-box;
}
.color-option > div.white {
  background: white;
}
.color-option > div.green-orange {
  background: linear-gradient(
    to bottom right,
    rgb(23, 101, 193) 0%,
    46.3593%,
    rgb(167, 191, 30) 56.0557%,
    81.1361%,
    rgb(49, 72, 99) 100%
  );
}
.color-option > div.yellow-blue {
  background: linear-gradient(
    to bottom right,
    rgb(36, 36, 36) 0%,
    9.86066%,
    rgb(55, 55, 55) 19.7213%,
    24.1158%,
    rgb(232, 232, 232) 28.5102%,
    32.9059%,
    rgb(78, 78, 78) 37.3016%,
    39.2857%,
    rgb(53, 53, 53) 41.2698%,
    43.8492%,
    rgb(238, 238, 238) 46.4286%,
    48.0159%,
    rgb(158, 158, 158) 49.6032%,
    51.8112%,
    rgb(51, 51, 51) 54.0193%,
    63.7192%,
    rgb(59, 59, 59) 73.4191%,
    78.7781%,
    rgb(176, 27, 33) 84.1372%,
    92.0686%,
    rgb(61, 61, 61) 100%
  );
}
.color-option > div.red-purple {
  background: linear-gradient(
    to bottom right,
    rgb(224, 25, 25) 0%,
    41.0677%,
    rgb(51, 51, 51) 59.6999%,
    71.1198%,
    rgb(232, 232, 232) 82.5397%,
    91.2698%,
    rgb(64, 64, 64) 100%
  );
}
.color-option > div.red {
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 54.9%, 99.24%) 0.3%,
    hsl(0, 54.9%, 97.08%) 1.4%,
    hsl(0, 54.9%, 93.76%) 3.2%,
    hsl(0, 54.9%, 89.48%) 5.8%,
    hsl(0, 54.9%, 84.44%) 9.3%,
    hsl(0, 54.9%, 78.88%) 13.6%,
    hsl(0, 54.9%, 73%) 18.9%,
    hsl(0, 54.9%, 67%) 25.1%,
    hsl(0, 54.9%, 61.12%) 32.4%,
    hsl(0, 54.9%, 55.56%) 40.7%,
    hsl(0, 54.9%, 50.52%) 50.2%,
    hsl(0, 63.83%, 46.24%) 60.8%,
    hsl(0, 73.03%, 42.92%) 72.6%,
    hsl(0, 79.78%, 40.76%) 85.7%,
    hsl(0, 82.35%, 40%) 100%
  );
}

@media (min-width: 576px) {
  .color-option {
    width: 65px;
    height: 65px;
  }
  .image-option {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .text-option {
    max-width: 300px;
  }
}
